.App {
  text-align: left;
  background-color: #30008a;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  /* color: #b3b3b3; */
  color: white;
  /* background-image: url("./images/static.jpeg"); */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
