/* @font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/all-your-base.woff") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    /* url("assets/fonts/all-your-base.ttf") format("truetype"); */
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
/*} */

.App {
  background-color: #0f1117;
  /* background-color: black; */
  /* background-image: url("assets/trippy-static.jpeg");
  background-size: 1000px 1000px; */
  min-height: 100vh;
  font-family: /*"CustomFont",*/ "Anton", Impact, sans-serif;
  /* color: #15ff00; */
  color: white;
  /* border-color: #00ff4c !important; */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-column {
  /* width: 85%; */
  width: 80%;
}

/* GOOD FONTS: https://design.tutsplus.com/articles/17-fonts-similar-to-impact-and-impact-font-history--cms-36628 */