.profile-pic {
  filter: grayscale(0%) brightness(100%) hue-rotate(-50deg) saturate(400%)
    contrast(1);
}

.banner {
  width: 100%;
  overflow: hidden;
}

.bio-mobile {
  margin-top: -40% !important;
  margin-bottom: -30%;
}

/* .modified-image:hover {
  transform: scale(2);
  z-index: 999999999999 !important;
  filter: contrast(1);
} */
