.link {
  /* transform: scale(1, 0.5); */
  /* padding-left: 20%; */
}

.link:hover {
  background-color: #f0ff00;
  color: black;
}

.small-link {
  padding-left: 40%;
}

.small-link:hover {
  background-color: yellow;
  color: black;
}
