.link {
  color: #deffdb;
}

.link:hover {
  background-color: #f0ff00;
  color: #0f1117;
}

/* .small-link {
  padding-left: 40%;
}

.small-link:hover {
  background-color: yellow;
  color: black;
} */
